body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.header {
  height: 72px;
  padding-left: 0.5em;
  font-weight: 900;
  font-size: 32px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
}


.webpage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  flex: 0 1 auto;
  gap: 0;
}

.main-content-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*border: solid salmon 9px;*/
  flex: 1 1 auto;/*It was important to add >0 value for
  flex-grow. This is how I got the sidebar (and card container)
  to take up all available space above the footer*/
  
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  /*margin: 0.4em 3em 0.4em 1em;*/
  padding: 32px; /*Adding padding looked MUCH better than
  adding margin. Not sure why.*/
  /*border: solid yellow 5px;*/
  align-items: center;
  justify-content: left;
  flex: 3 1 auto;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  display: flex;
  flex: 1 0 auto;
  height: 240px;
  width: 240px;
  margin: 0; padding: 0;
}

.webpage .footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  align-items: center;
  /*border: solid orange 5px;*/
}


.sidebar {
  width: 300px;
  background: royalblue;
  display: flex;
  flex: 1 0 auto; /*I had it set to shrink, but instructions later included to make sure it doesn't shrink, so I set that property here*/
  align-self: stretch;
}

ul {
  padding: 0.4em;
  margin: 0.4em;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

li {
  display: flex;
}

a {
  display: flex;
  text-decoration: none;
  color: white; font-size: 24px;
}